body{
    background-color: rgb(10, 15, 41);
}

main{
    text-align: center;
    margin-top: 6rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    background-color: rgb(63, 59, 59);
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border-radius: 10px;
    line-height: 150px;
    font-size: 25px;
    letter-spacing: 6px;
}

P:hover{
    cursor: pointer;
    background-color: rgb(46, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
}

#valuePassword{
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

#calculate{
    padding: 20px;
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}


#copy1{
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


#copy1:hover{
    background-color: rgb(63, 59, 59);
    color: white;
}

#calculate:hover{
    background-color: rgb(63, 59, 59);
    color: white;
}